<!--верхнее меню сайта-->
<nav  class="navbar navbar-expand-lg navbar-light " style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link active" aria-current="page">Главная</a>
            <a class="nav-link ">Профиль</a>
            <a class="nav-link" href="#">О сайте</a>
            <a class="nav-link" href="#">Контакты</a>
        </div>
        </div>
    </div>
</nav>
<!--верхнее меню сайта конец-->